body{
	font-family:"Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.c-heading-1, .c-heading-2, .c-subheading-1, .c-subheading-2 {
	font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
#circle, #mobiledevices {
	opacity: 0;
}
.f-cover {
	background: url(../images/header_image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
p{
	font-size: 18px;
	color: #000000;
	line-height: 24px;
}
.inner{
	
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-60{
	width: 58%;
}
p.tit{
	font-size: 36px;
	color: #000000;
	line-height: 44px;
	font-weight: 600;
	font-family: "Segoe UI Semibold";
}
p.white{
	color: #fff;
}
.triangle-row{
	padding-bottom: 135px;
	padding-top: 65px;
}
.triangle-text{
	padding-top: 5%;
	padding-right: 2%;
}
.triangle-image{

}

.col-left{
	padding-right: 5%;
}
.col-right{
	padding-left: 5%;
}
.container-80{
	width: 80%!important;
}
.object-center{
	margin: 0 auto;
}
.clear-fix{
	clear: both;
}
.no-pad-top{
	padding-top: 0!important;
}
.pad-top-025{
	padding-top: 6%!important;
}
.pad-bottom-05{
	padding-bottom: 24px;
}
.pad-top-1{
	padding-top: 62px;
}
.pad-bottom-1{
	padding-bottom: 67px;
}
.pad-top-2{
	padding-top: 60px;
}
.pad-bottom-2{
	padding-bottom: 139px;
}
.pad-top-25{
	padding-top: 23%;
}
.icon-quotes{
	width: 85px;
}
.quotes {
	padding-left: 3.5%;
	padding-right: 18.1%;
}
.quotes p{
	padding: 0;
	padding-bottom: 16px;
	font-size: 24px;
	color: #000000;
	line-height: 32px;
}
#what-blocks {
	padding-bottom: 103px;
}
#what-blocks img{
	width: 95%
}
.medium-box{
	width: 65%;
}
.subtit{
	font-size: 24px;
	color: #D33B01;
	line-height: 32px;
}
.regular-text{
	font-size: 24px;
	color: #000000;
	line-height: 32px;
}



.bg-light-color{
	background-color: #E6E6E6;
}
.bg-dark-color{
	background-color: #232222;
}
.icon-map{
	padding-top: 5%;
}
.main-button{
	border: 0;
	border-radius: 0;
	color: #ffffff;
	font-size: 15px;
	background: #D83B01;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
}


.main-button:hover {
	background: #dc4710;
	text-decoration: none;

}
.button-1024{
	display: none;
}

.container{    
	padding: 6vw;
	width: 100%;
}

.c-arrow-headline {
	background: url(../images/icons/arrow_transparency.png) no-repeat #D33B01;
	float: left;
	width: 100%;
	background-size: 35vw!important;
	background-position: -2%!important;
	-moz-background-size: 40vw;
	-webkit-background-size: 40vw;
	-o-background-size: 40vw;
}
.c-universal-footer {
	margin-top: 0!important;
}
.site-footer{
	margin-top: 0!important;
}
#roi.c-arrow-headline{
	height: 432px;
}

.c-hero>div, .m-hero-item>div {
	width: 88%;
	height: 100%;
	max-width: 2048px;
	position: absolute;
	top: calc(37%);
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0 auto;
	overflow: hidden;
}

.icon-arrow{
	width: 92px;
}

.icon-officeforall{
	width: 189px;
	margin: 10px 0 0 0px;
}

.icon-roamingdocuments{
	width: 112px;
	
}

.icon-securitythatfollowsyou{
	width: 114px;

}

.icon-organizationadopting{
	width: 100%;
}
.icon-text-box{
	padding-left: 8%;
	padding-top: 2%;
}
.icon-USmap{
	width: 230px;
}

.icon-mobiledevices{
	width: 104px;
}
.icon-calendar{
	width: 147px;
}
.icon-money{
	width: 127px;
	padding-top: 29%;
}
#it-belive {
	padding-bottom: 15px;
}
#it-belive .chart-title p.tit{
	padding-top: 15%;
	padding-right: 10%;
}
.main-number{
	font-size: 160px;
	color: #D33B01;
	line-height: 56px;
	font-weight: 600;
	font-family: "Segoe UI Semibold";
	padding-top: 9%;
}
#office .orange-text-position{
	margin-top: -26px;
}
.arrows-bk{
	align-items: left;
	background: url(../images/icons/theworkplaceischanging.svg);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: 80%;
	display: flex;
	height: 100%;
	flex-flow: column;
	width: 100%;
}
#roi .regular-text{
	width: 62%;
}
#workplace .pad-top-25{
	padding-top: 21%;
}
.grey-number{
	font-size: 72px;
	color: #505050;
	line-height: 56px;
	font-weight: 600;
	font-family: "Segoe UI Semibold";
}
.red-number{
	font-size: 72px;
	color: #D33B01;
	line-height: 56px;
	font-weight: 600;
	font-family: "Segoe UI Semibold";
}
.red-number.six{
	margin-top: 28%;
	margin-left: 9%;
}
.red-number.money{
	padding-top: 43%;
}
.sub-money-text p{
	padding-top: 8%;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600!important;
	font-family: "Segoe UI Semibold"!important;
}
.sub-six-text p{
	padding-top: 12%;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600!important;
	font-family: "Segoe UI Semibold"!important;
}
#workplace{
	height: 456px;
}
#mobile-world{
	height: 428px;
}
/*SECOND CHART*/
#mobile-gains{
	padding-bottom: 141px;
	padding-top: 50px;
}
.second-chart p{
	font-size: 26px;
	line-height: 0px;
	text-align: center;
	font-weight: 600;;
	font-family: "Segoe UI Semibold";
}
.second-chart p.white{
	color: #fff;
}
.second-chart .square{
	height: 40px;
}
.second-chart .bottom-row{
	border-bottom: 2px solid #979797;
}
.second-chart .small-square{
	height: 36px;
	margin-top: 4px;
} 

#office{
	height: 470px;
}
#office .tit{
	width: 80%;
	font-weight: 600;
	font-family: "Segoe UI Semibold";
}
#office .regular-text{
	width: 84%;
}
#office.c-arrow-headline{
	background: url(../images/icons/arrow_transparency.png) no-repeat #D33B01;	
	background-size: 40vw!important;
	background-position: -11%!important;
}

/*CHART CUSTOM*/
.square{	
	height: 100px;
	padding-top: 1%;
}
.orange-square{
	background: #D33B01;
}
.grey-square{
	background: #D2D2D2;
}
.dark-grey-square{
	background: #737373;
}
.dark-grey-number{
	font-weight: 600;
	font-family: "Segoe UI Semibold";
}
.border-top-grey{
	border-top: 2px solid #E6E6E6;
}
.border-top-dark-grey{
	border-top: 2px solid #505050;
}
.year{
	font-size: 36px;
}
.year-big{
	font-size: 72px;
	line-height: 56px;
}
.year-orange{
	color: #D33B01;
}
.year-grey{
	color: #D2D2D2;
}
.year-dark-grey{
	color: #737373;
}

.boder-small{
	margin-top: -27px;
}
.offset-text{
	margin-top: -13px;
}
.offset-text{
	margin-top: -27px;
}
.right-border-grey{
	border-right: 2px solid #D2D2D2;
}
.final-text{
	padding-left: 2%;
	padding-right: 2%;
}
#remote{
	height: 509px;
}
#remote .tit-2{
	font-size: 36px;
	line-height: 44px;
	font-weight: 600;
	font-family: "Segoe UI Semibold";
	width: 80%;
	padding-top: 12%;
}
.chart-row{
	margin-bottom: 40px;
}
.chart-legend{
	width: 355px;
	margin-left: -90px;
	font-size: 18px;
	line-height: 24px;
}
.col-custom-23{
	width: 24%;
}
#migrating{
	padding-bottom: 135px;
}
#migrating .container{
	padding:6rem;
}

#migrating .main-number{
	padding: 6.5rem 0 0 0;
	text-align: left;
	font-weight: 600;;
	font-family: "Segoe UI Semibold";
	font-size: 160px;
	line-height: 56px;
}

#migrating .main-number span{
	font-size: 72px;
}

#migrating .down-text{
	font-size:18px;
	line-height: 24px;
	padding-right: 45px;
	width: 88%;
}

#migrating .tit{
	padding: 2.5rem 0 0 1rem;
	margin-bottom: 10rem;
	font-size: 36px;
	line-height: 44px;
	font-weight: 600!important;
	font-family: "Segoe UI Semibold"!important;
}

#migrating .subtit{
	font-weight: 600;
	color: #D33B01;	
	font-family: "Segoe UI Semibold"!important;
}
#video{
	padding-bottom: 135px;
}
#video .right{
	font-weight: 600;;
	font-family: "Segoe UI Semibold";
	font-size:36px;
	line-height: 44px;
	padding: 5rem 3rem 0 0;
}
#video .icon-arrow{
	width: 92px;
}
#video .right p.tit{
	padding: 3rem 0 3.5rem 0;
}



/*---------------
HD Breakpoint
-----------------*/




@media screen and (min-width: 1024px) and (max-width: 1920px){
	.column-42{
		width: 46%!important;
	}
	.icon-money {
		width: 117px;
		padding-top: 35%;
	}
	#mobile-gains .tit{

	}
	#roi.c-arrow-headline {
		height: 432px;
		background-size: 61vw!important;
		background-position: -34%!important;
	}
	#office.c-arrow-headline {
		height: 544px;
		background-size: 71vw!important;
		background-position: -71%!important;
	}
	#mobile-world.c-arrow-headline {
		height: 428px;
		background-size: 56vw!important;
		background-position: -22%!important;
	}
	#hero-banner h1{
		font-size: 72px;
		color: #FFFFFF;
		line-height: 90px;
		max-width: 909px;

	}
	#hero-banner p{
		font-size: 36px;
		color: #FFFFFF;
		line-height: 44px;
	}

}

@media screen and (min-width: 1380px) and (max-width: 1920px){
	.column-42{
		width: 42%!important;
	}
}
@media screen and (min-width: 1650px) and (max-width: 1920px){
	.column-42{
		width: 39%!important;
	}
}
/*---------------
Desktop Breakpoint
-----------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.icon-text-box {
		padding-left: 6%;
		padding-top: 2%;
	}
	.main-number {
		width: 333px;
	}
	#workplace .regular-text{
		padding-left: 65%;
		width: 377px;
		padding-top: 16%;
	}
	.c-arrow-headline{
		background-size: 68vw!important;
		background-position: -40%!important;
	}
	#remote .tit-2{
		padding-top: 0;
	}
	#hero-banner h1{
		font-size: 62px;
		color: #FFFFFF;
		line-height: 68px;
		max-width: 642px;

	}
	#hero-banner p{
		font-size: 26px;
		color: #FFFFFF;
		line-height: 32px;
	}
	.empower{
		overflow:hidden;
		text-overflow:ellipsis;
		width: 210px;
		height: 92px;
	}

	.button-1024{
		display: block;
	}
	.learn-more{
		display: none;
	}

	#video .container{

		padding: 0 0 0 6vw;
		width: 100%;

	}
	
	/*#video .left{
		
		}*/


	}


/*---------------
Mobile Breakpoint
-----------------*/

@media screen and (max-width: 767px) {	
	.f-cover {
		background: url(../images/header-mobile.jpg);		
		height: 144vh;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.c-hero>div, .m-hero-item>div {
		position: relative;
	}
	.c-hero>div, .m-hero-item>div {
		height: 70vh;
		/*overflow:auto;*/
		max-width: 80%;
		text-align: left;
	}

	.c-hero:before, .m-hero-item:before {
		padding-bottom: 0 !important;
	}


	.c-hero[class*=f-x][class*=f-y]>div>div, .m-hero-item[class*=f-x][class*=f-y]>div>div {
		position: absolute;
		top: 120px;
		top: calc(50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);

	}
	#hero-banner h1{
		font-size: 80px;
		color: #FFFFFF;
		/*line-height: 52px;
		max-width: 298px;*/
		line-height: 90px;
	}
	#hero-banner  p{
		font-size: 48px;
		color: #FFFFFF;
		line-height: 55px;
		padding-top: 38px;
	}
	p.tit{
		font-size: 56px;
		line-height: 62px;
	}
	p.tit-2{
		font-size: 42px;
		line-height: 50px;
		font-weight: 600;
		font-family: "Segoe UI Semibold";
	}
	.icon-quotes {
		width: 115px;
	}
	.quotes p{
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 10%;
	}
	.regular-text{
		font-size: 36px;
		line-height: 42px;
	}
	.c-arrow-headline .container-top{
		padding-top: 9%!important;
	}
	#what-blocks [data-grid~=col-2] {
		width: 8.3333333333%;
		float: left;
	}
	.icon-mobiledevices {
		width: 118px;
	}
	.icon-USmap {
		width: 223px;
	}
	.grey-number {
		font-size: 95px;
		color: #505050;
		line-height: 50px;
		font-weight: 600;
		font-family: "Segoe UI Semibold";
	}
	.grey-text{
		font-size: 36px;
		line-height: 42px;
		color: #4A4A4A;
		padding-top: 12%;
	}
	.c-arrow-headline {
		background: url(../images/icons/arrow_transparency.png) no-repeat #D33B01 232% 50%;		
		-moz-background-size: 106vh;
		-webkit-background-size: 106vh;
		-o-background-size: 106vh;
		height: 72vw;
		background-size: 106vh;
	}
	.main-number{
		font-size: 95px;
		color: #D33B01;
		line-height: 56px;
	}
	.col-custom-23 {
		width: 7%;
	}
	.final-text {
		padding-left: 1%;
		padding-right: 1%;
		font-size: 32px;
		line-height: 40px;
	}
	.grey-number,
	.orange-number {
		font-size: 56px;
		line-height: 56px;
		font-family: "Segoe UI Semibold";
	}
	.orange-number {
		color: #D83B01;
	}


	.no-pad-top{
		padding-top: 0!important;
	}
}
@media screen and (max-width: 677px) {	
	.c-arrow-headline .container {
		padding-top: 6%!important;
	}
}

@media screen and (max-width: 644px) {	
	.c-arrow-headline .container {
		padding-top: 0%!important;
	}
}
@media screen and (max-width: 376px) {
	#hero-banner h1 {
		font-size: 40px;
		line-height: 45px;
	}
	#hero-banner p {
		font-size: 24px;
		line-height: 26px;
		padding-top: 16px;
	}
	.f-cover {
		height: 100vh;
	}
	.quotes{
		padding-right: 0;
	}
	#workplace .regular-text{
		width: 110%!important;
		margin-left: -12px;;
	}
	#happier{
		padding-top: 80%;
	}
	#what-blocks img {
		width: 65px;
	}
	#what-blocks {
		padding-bottom: 0;
	}
	#migrating .main-number {
		padding: 27.5rem 0 26px 0;
	}
	#migrating .tit {
		padding-bottom: 26px;
	}
	#it-belive {
		padding-top: 80%;
	}
	#remote .tit-2{
		font-size: 21px;
		line-height: 25px;
		width: 100%;
	}
	.m-hero-item>div {
		padding: 0px;
		max-width: 100%;
	}
	p.tit {
		font-size: 28px;
		line-height: 31px;
	}
	p.tit-2 {
		font-size: 21px;
		line-height: 25px;
	}
	.icon-quotes {
		width: 55px;
	}
	.pad-bottom-1 {
		padding-bottom: 33px;
	}
	.pad-top-1 {
		padding-top: 33px;
	}
	.quotes p {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 5%;
	}
	.col-mobile {
		float: left;
	}
	.col-3-mobile {
		width: 25%;
	}
	.col-9-mobile {
		width: 75%;
	}
	.col-5-mobile {
		width: 41.66%;
	}
	.col-7-mobile {
		width: 58.33%;
	}
	.col-8-mobile {
		width: 66.66%;
	}
	.col-4-mobile {
		width: 33.33%;
	}
	.col-2-mobile {
		width: 16.66%;
	}
	.col-1-mobile {
		width: 8.33%;
	}
	.regular-text {
		font-size: 18px;
		line-height: 21px;
	}
	.grey-text {
		font-size: 18px;
		line-height: 21px;
	}
	.c-arrow-headline {
		background: url(../images/icons/arrow_transparency.png) no-repeat 150% 50%;
		-moz-background-size: 106vh;
		-webkit-background-size: 106vh;
		-o-background-size: 106vh;
		height: 72vw;
		background-size: 60vh;
		background-color: rgba(211,59,1,1);
	}
	.container-80 {
		width: 90%!important;
	}
	#migrating .main-number,
	.main-number {
		font-size: 47px;
	}
	#migrating .main-number span {
		font-size: 31px;
	}
	#workplace {
		height: auto;
	}
	#remote {
		padding-bottom: 0;
		padding-top: 0;
		height: 640px;
	}
	.big-num-show{
		padding-top: 100%;
		padding-bottom: 20%;
	}
	
	.red-number.six {
		font-size: 47px;
		margin-top: 0;
		margin-left: 0;
	}
	.red-number.money {
		font-size: 47px;
		padding-top: 0;
	}
	
	.red-number.money {
		padding-left: 25px;
		padding-top: 54px;
	}
	.red-number.six {
		padding-left: 25px;
		padding-top: 33px;
	}
	.sub-six-text p {
		padding-top: 8.5%;
	}
	.sub-money-text p {
		padding-top: 5%;
	}
	#migrating .container {
		padding: 6vw;
	}
	#migrating .tit {
		padding: 0;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 35px;
	}
	.sub-six-text p {
		padding-top: 4.5%;
	}
	.icon-money {
		width: 127px;
		padding-top: 15%;
	}

	.text-center-mobile {
		text-align: center;
		text-align: -webkit-center;
		text-align: -moz-center;
		text-align: -ms-center;
	}
	#migrating .down-text {
		padding-right: 0;
	}
	#migrating {
		padding-bottom: 0;
	}
	#video .right {
		padding: 0;
	}
	p.tit.empower {
		line-height: 35px;
	}
	#video {
		padding-bottom: 30px;
	}
	#video .right p.tit {
		padding: 3rem 0 2rem 0;
	}
	#video .btn-learn-more img {
		width: 100%;
	}
	.year {
		font-size: 18px;
	}
	.square {
		height: 44px;
	}
	.final-text {
		font-size: 16px;
		line-height: 20px;
	}
	.orange-number,
	.grey-number {
		font-size: 28px;
		line-height: 28px;
	}
}	

@media screen and (min-width: 1025px){
	#big-num-show{
		display: none;
	}
	.big-num-hide{
		display: block;
	}
	#mobile-gains-1024-show{
		display: none;
	}
	#mobile-gains-1024-hide{
		display: block;
	}
}

@media screen and (max-width: 1025px) {
	.icon-text-box{
		width: 50%!important;
	}
	.icon-mobiledevices{
		width: 58px;
	}
	.icon-USmap{
		width: 128px;
	}
	.column-42{
		width: 100%;
	}
	#mobile-world {
		height: 297px;
	}
	.c-arrow-headline {
		background-size: 47vw!important;
		background-position: -14%!important;
	}
	.pad-top-025 {
		padding-top: 5%!important;
	}
	#mobile-world .tit, #roi .tit, #office .tit{
		font-size: 26px;
		line-height: 32px;
	}
	#mobile-world .regular-text, #roi .regular-text, #office .regular-text{
		font-size: 20px;
		line-height: 28px;
	}
	.text-60 {
		width: 80%;
	}
	#workplace {
		height: 427px;
	}
	#workplace .regular-text {
		padding-left: 0;
		width: 244px;
		padding-top: 28%;
		font-size: 20px;
		line-height: 28px;
	}
	.main-number{
		font-size: 72px;
		line-height: 56px;
		padding-top: 5%;
	}
	#workplace .tit{
		font-size: 26px;
		line-height: 32px;
	}
	.arrows-bk {
		background-size: 52%;
		background-position: 82% 48%;
	}
	#workplace .regular-text {		
		padding-top: 14%;
	}
	#office .regular-text {
		width: 100%; 
	}
	#office {
		height: 409px;
	}
	#office.c-arrow-headline {
		background: url(../images/icons/arrow_transparency.png) no-repeat #D33B01;
		background-size: 64vw!important;
		background-position: -48%!important;
	}
	#roi.c-arrow-headline{
		height: 325px;
		background-size: 52vw!important;
		background-position: -28%!important;
	}
	.triangle-row {
		padding-top: 0;
	}	
	.triangle-image {
		padding-top: 7%;
	}
	.sub-six-text p {
		padding-top: 13.5%;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 751px)  {
			/*---------------
	Juani
	-----------------*/
	p.tit{
		font-size: 26px;
		line-height: 32px;
	}
	#remote .tit-2 {
		font-size: 26px;
		line-height: 32px;
		font-weight: 600;
		font-family: "Segoe UI Semibold";
		width: 80%;
		padding: 3.5% 0 0 2.5%;
	}
	#mobile-gains-1024-show{
		display: block;
	}

	#mobile-gains-1024-hide{
		display: none;
	}

	#mobile-gains {
		padding-bottom: 175px;
		padding-top: 2px;
		padding-left: 20px;
	}

	#mobile-gains .second-chart{
		padding-top: 7%;
	}

	#mobile-gains p.tit{
		padding-right: 12rem;
	}

	.big-num-hide{
		display: none;
	}

	#big-num-show{
		display: block;
	}

	#migrating {
		padding-bottom: 57px;
	}

	#migrating .main-number {
		padding: 0.8rem 0 0 0;
		font-size: 100px;
	}
	#migrating .main-number span {
		font-size: 42px;
	}

	#migrating .tit {
		padding: 3rem 9rem 0 0;
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 3.5rem;
	}

	#migrating .subtit{
		font-size:20px;
	}

	#migrating .down-text {
		font-size: 16px;
		line-height: 22px;
		padding-right: 0px;
		width: 100%;
	}

	#migrating .icon-officeforall {
		width: 152px;
	}

	#migrating .icon-roamingdocuments {
		width: 88px;
		margin: 8px;
	}

	#migrating .icon-securitythatfollowsyou {
		width: 85px;
		margin-top: 10px;
	}

	#migrating .text-center-mobile {
		height: 152px;
	}

	#video{
		padding-bottom: 93px;
	}
	#video .right{
		padding-right: 1rem;
		padding-left: 2.3rem;
	}
	#video .right p.tit {
		padding: 3rem 0;
		font-size: 26px;
		line-height: 32px;
	}
	#video .icon-arrow {
		width: 56px;
	}
	#video .btn-learn-more img {
		width: 188px;
	}
	#video picture{
		margin: 2rem 0 0 -1.5rem;
		width: 506px;
	}

	.f-cover {
	    background: url(../images/header_image.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: 1%;
	    height: 74vh;
	    width: 100%;
	    display: flex;
	    flex-flow: column;
	    align-items: center;
	}

	#hero-banner h1 {
	    font-size: 62px;
	    line-height: 68px;
	    max-width: 656px;
	    font-weight: 600;
	}

	.c-hero>div, .m-hero-item>div {
	    top: calc(28%);
	}

	#hero-banner p {
	    font-size: 26px;
	    color: #FFFFFF;
	    line-height: 32px;
	    max-width: 350px;
	}

	#what-blocks {
	    padding-bottom: 11px;
	}

	#what-blocks img {
	    width: 74%;
	    float: right;
	}

	.quotes {
	    padding-left: 14.5%;
	    padding-right: 0%;
	}

	.quotes p {
	    font-size: 20px;
	    line-height: 28px;
	}

	.icon-quotes {
	    width: 85px!important;
	}

	#mobile-world.c-arrow-headline {
	    height: 297px;
	    background-size: 68vw!important;
	    background-position: -65%!important;
	}

	.c-arrow-headline {
	    background-size: 68vw!important;
	    background-position: -65%!important;
	}

	.c-arrow-headline .pad-top-025 {
	    padding-top: 7%!important;
	}

	#it-belive .chart-title{
		width:66.6666666667%!important;
	}

	#it-belive .chart-title p.tit {
	    padding-top: 15%;
	    padding-right: 2%;
	    padding-left: 11%;
	}

	#it-belive #graph01-img{
		width:33.3333333333%!important;
	}

	/*---------------
	Fin Juani
	-----------------*/
}

@media screen and (max-width: 375px) {
	.c-arrow-headline {
		background-size: 126vw!important;
		background-position: 148%!important;
	}
	#roi.c-arrow-headline {
		height: 325px;
		background-size: 142vw!important;
		background-position: 127%!important;
	}
	.main-number {
		font-size: 47.5px;
		line-height: 28px;
		padding-top: 5%;
	}
	#workplace {
		height: 240px;
	}
	#workplace .regular-text {
		padding-top: 0;
	}
}


/*DOWNLOAD*/
#quickdl {
	display: none;
}

.demo {
	position: fixed;
	z-index: 101;
	right: 0;
	top: 25%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.c-download-trigger {
	height: 46px;
	border: none;
	color: #fff;
	font-size: 22px;
	line-height: 1;
	display: inline-block;
	padding: 7px;
	outline: none;
}

.f-download-trigger-color-orange {
	background-color: #d83b01;
}

.f-download-trigger-color-blue {
	background-color: #0078d7;
}

.c-glyph.glyph-download:before {
	padding: 0 5px;
}

.demo__active {
	width: 0;
	display: inline-block;
	-webkit-transition: width .55s ease;
	-moz-transition: width .55s ease;
	-ms-transition: width .55s ease;
	-o-transition: width .55s ease;
	transition: width .55s ease;
	overflow: hidden;
}

.text_dwbutton {
	text-transform: uppercase;
	font-size: 16px;
	vertical-align: top;
	padding-right: 5px;
	padding-left: 7px;
	width: 140px;
	display: inline-block;
	padding-top: 4px;    
}
#download-pdf a:hover, #download-pdf a:visited {
	color: #ffffff;
	text-decoration: none;
}



#disclaimer.disclaimer {
	padding: 70px 0;
}

#disclaimer.color-grey {
	background-color: #EBEBEB;
}

#disclaimer.color-white {
	background-color: #ffffff;
}

#disclaimer .disclaimer-content {
	width: 1330px;
	max-width: 90%;
	margin: 0px auto;
}

#disclaimer .disclaimer-content a {
	display: block;
	margin: 30px 0 20px 0;
	font-size: 36px;
}

#disclaimer.disclaimer .text {
	color: #000000;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	padding: 55px 28px 89px 0;
}

#disclaimer.disclaimer ul {
	list-style-type: decimal;
}

#disclaimer.disclaimer .text li {
	font-size: 18px;
	line-height: 24px;
	padding: 12px 0;
	list-style-type: none;
}

#disclaimer.disclaimer .text p {
	font-size: 18px;
	line-height: 24px;
}

#disclaimer a.c-button[role=button]:focus, 
#disclaimer a.c-button[role=button]:hover, 
#disclaimer button.c-button:focus, 
#disclaimer button.c-button:hover {
	border: 1px solid transparent;
	cursor: pointer;
}

#disclaimer a.c-button[role=button].collapse-section.section-title {
	max-width: none;
	text-decoration: none;
	padding: 0px 22px 0px 0px;
}

#disclaimer a.c-button[role=button].collapse-section.section-title h4 {
	color: #2F2F32;
	font-size: 18px;
	line-height: 48px;
	font-weight: 600;
	text-align: center;
	margin-left: 0;
	width: 100%;
}

#disclaimer a.c-button[role=button].collapse-section.section-title.active .icon-collapse {
	transform: rotate(180deg);
}

#disclaimer .section-content-load {
	min-height: 0;
	max-height: 0;
	width: 100%;
	padding: 0px 5%;
	transition: max-height 0.4s ease-out;
}

#disclaimer .section-color-grey {
	background-color: #EBEBEB;
}

#disclaimer .section-color-white {
	background-color: #ffffff;
}

#disclaimer .section-content-load {
	overflow: hidden;
}

#disclaimer .c-glyph.icon-collapse {
	font-family: MWF-MDL2;
	font-size: 18px;
	font-weight: 600;
	transition: all 0.4s ease-out;
	transform-origin: 50% 50%;
	margin-top: 10px;
}

#disclaimer a.c-button[role=button].collapse-section {
	display: block;
	min-width: 0;   
	margin-top: 0; 
	padding: 0; 
	background-color: transparent;
}

#disclaimer button.c-button:active, 
#disclaimer a.c-button[role="button"]:active {
	transform: none;
}

#emailButton{
	position:fixed;
	top: calc(25% - 79px);
	right:0;
	background-color:black;
	z-index: 100005;
	display: none;
}
#emailButton a {
	display:block;
	width:46px;
	height:46px;
	text-indent:999em;
	padding:15px 10px;
}
#emailButton a:hover {
	background-color:#333333;
}
#emailButton a svg {
	display:block;
	width:100%;
}

/*FEEDBACK*/
#feedbackButton #feedback-cta {
	z-index: 7;
	position: fixed;
	right: -46px;
	padding: 20px;
	background-color: #CCCCCC;
	width: 46px;
	height: 46px;
	cursor: pointer;
	top: calc(25% + 65px);
	-webkit-transform: translateY(-70%);
	transform: translateY(-70%);
	transition: right .3s ease; 
}
#feedbackButton #feedback-cta .sm {
	display: block;
	position: absolute;
	top: 6px;
	left: 5px; 
}
#feedbackButton #feedback-cta .sm svg {
	width: 36px;
	height: 36px; 
}
#feedbackButton #feedback-cta .lg {
	display: none;
	color: white;
	font-weight: bold;
	line-height: 40px; 
}
#feedbackButton #feedback-cta .lg p {
	color: #000;
	font-weight: normal;
	line-height: normal; 
	padding: 0;
}
#feedbackButton #feedback-cta .thankyou {
	display: none; 
}
#feedbackButton #feedback-cta .thankyou .c-glyph:after {
	content: "\E73E";
	display: block;
	font-size: 82px;
	line-height: 90px;
	text-align: center;
	color: white; 
}
#feedbackButton #feedback-cta button.c-button {
	font-weight: bold;
	color: white;
	width: 58px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	min-width: 0;
	padding: 0;
	margin-right: 5px;
	margin-top: 15px; 
}
#feedbackButton #feedback-cta.active .sm {
	display: none; 
}
#feedbackButton #feedback-cta.active .lg {
	display: block; 
}
#feedbackButton #feedback-cta.enter {
	right: 0;
}
#feedbackButton #feedback-cta.active {
	width: 172px;
	height: 130px;
	right: 0;
	top: calc(25% + 118px);
}