#quickdl {
	display: none;
}

.demo {
	position: fixed;
	z-index: 101;
	right: 0;
	top: 25%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.c-download-trigger {
    height: 46px;
    border: none;
    color: #fff;
    font-size: 22px;
    line-height: 1;
    display: inline-block;
    padding: 7px;
    outline: none;
}

.f-download-trigger-color-orange {
    background-color: #d83b01;
}

.f-download-trigger-color-blue {
    background-color: #0078d7;
}

.c-glyph.glyph-download:before {
    padding: 0 5px;
}

.demo__active {
    width: 0;
    display: inline-block;
    -webkit-transition: width .55s ease;
  	-moz-transition: width .55s ease;
  	-ms-transition: width .55s ease;
  	-o-transition: width .55s ease;
  	transition: width .55s ease;
  	overflow: hidden;
}

.text_dwbutton {
	text-transform: uppercase;
    font-size: 16px;
    vertical-align: top;
    padding-right: 5px;
    padding-left: 7px;
    width: 140px;
    display: inline-block;
    padding-top: 4px;    
}
#download-pdf a:hover, #download-pdf a:visited {
	color: #ffffff;
	text-decoration: none;
}