<div id="feedbackButton">
  <div class="btn-dl x-hidden-focus" id="feedback-cta">
      <div class="sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42">
          <title>icon_feedback</title>
          <rect width="42" height="42" fill="#cccccc"></rect>
          <polygon points="16.14 32.25 6.21 32.25 6.21 14.94 16.14 14.94 16.14 16.34 16.14 32.25" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"></polygon>
          <polygon points="12.21 28 10.14 28 10.14 28 12.21 28 12.21 28 12.21 28" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"></polygon>
          <path d="M16.14,30l3.59,1.62H33.58A3.46,3.46,0,0,0,37,28.16v-8a3.46,3.46,0,0,0-3.46-3.46H27.33V7.87a2.12,2.12,0,0,0-2.12-2.12h0a2.12,2.12,0,0,0-2.06,1.64l-.89,3.85-1.5,2.91a4.82,4.82,0,0,1-4.28,2.6h-.34" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"></path>
          </svg>
      </div>
      <div class="lg">
          <p class="x-hidden-focus">Did you find this content useful?</p>
          <button class="c-button" type="button" name="Yes" id="feedback-yes">Yes</button>
          <button class="c-button" type="button" name="No" id="feedback-no">No</button>
      </div>
      <div class="thankyou">
          <div class="c-glyph x-hidden-focus"></div>
      </div>
  </div>
</div>