<section id="disclaimer" class="disclaimer disclaimer-content color-grey">
	<a id="dropdowns-desktop-Open" role="button" class="c-button collapse-section section-title" aria-label="Open">
		<h4 class="section-title c-margin-title">Sources and disclaimer</h4><div class="c-glyph x-hidden-focus icon-collapse c-orange"></div></a>
		<div data-grid="col-12" class="section-content-load section-color-grey">
			<div data-grid="col-6" class="text x-type-left">
				<ul>
					<li>"Bussineses are embracing the idea of working in teams. Managing them is hard." 2016. The Economist.</li>
					<li>"How to use "super-connectors" to improve knowledge sharing." 2016. RelSci.</li>
					<li>"The social economy. Unlocking value and social productivity through social technologies." 2012. McKinsey.</li>
					<li>"The secrets of great teamwork." 2016. Harvard Bussiness Review</li>
					<li>"Summary estimates for multinational companies: Employment, sales and capital expenditures for 2011." 2011. Bureau of Economic Analysis.</li>
					<li>"LinkedIn study reveals work BFFs make us happier at the office." 2016. LinkedIn Blog.</li>
				</ul>
			</div>
			<div data-grid="col-6" class="text x-type-left">
				<p>(c) 2017 Microsoft Corporation. All rights reserved. This document is provided "as is". Information and views expressed in this document, including URL and other Internet Web site references may change without notice. You bear the risk of using it.</p>
				<p>This document does not provide you with any legal rights to any intelectual property in any Microsoft product. You may copy and use this document for your internal, reference purposes.</p>
			</div>
		</div>
	<div class="clearfix"></div>
</section>